.navBar {
  display: flex;
  justify-content: center;
}

.navBarItem {
  padding-right: 25px;
  color: #7f8fa3;
}

.container {
  border-bottom: 1px solid #2d3748;
  width: 100%;
  height: 40px;
  margin: auto;
}

.one {
  display: flex;
  justify-content: center;
  float: left;
}

.two {
  display: flex;
  justify-content: flex-end;
}
