@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=PT+Serif&display=swap');

body {
    font-family: 'Merriweather', serif;
    background-color: #1a202c; 
}

.App-main {
  margin-right: auto;
  margin-left: auto;
  width: 70rem;
  max-width: 95%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1a202c;
  min-height: 100vh;
  display: flex;
  padding-top: 2em;
  flex-direction: column;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
